/***********************************/
/* RESET */
/***********************************/

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

/***********************************/
/* GENERAL */
/***********************************/

body {
	font-family: "Arial", "Helvetica", sans-serif;
	color: #fff;
	background-color: #e9edee;
}

.layer {
	width: 100%;
}

.layer--dark {
	background-color: #222f3f;
}

.layer--light {
	background-color: #364759;
}

.container {
	margin: 2.8rem 5.2rem;
}

.cta-links:link,
.cta-links:hover,
.cta-links:visited,
.cta-links:active {
	margin-left: 1.6rem;
	color: #19555e;
	font-size: 1.6rem;
	font-weight: 600;
}

.subtitle {
	color: #000;
	font-size: 1.8rem;
	font-weight: 500;
}

/***********************************/
/* HEADER */
/***********************************/

.header > .layer {
	padding-left: 2.8rem;
}

.header .logo {
	padding: 0.8rem;
	width: 20rem;
}

.navigation {
	font-size: 1.8rem;
}

.navigation > li {
	display: inline-block;
}

.navigation > li > a {
	display: inherit;
	padding: 0.8rem;
}

/***********************************/
/* SECTION TITLE */
/***********************************/

.section-title {
	background-color: #f56600;
}

.title {
	font-size: 1.8rem;
	text-align: center;
	padding: 0.8rem;
}

/***********************************/
/* SECTION GIFT GUIDES */
/***********************************/

.section-gift-guides {
	background-image: url("./../images/bg-image.png");
	background-size: 90%;
}

.gift-guides-title,
.gift-guides-description {
	font-weight: 700;
	text-align: center;
}

.gift-guides-title {
	padding-top: 6.6rem;
	padding-bottom: 2.4rem;
	font-size: 3.2rem;
}

.gift-guides-description {
	font-size: 2rem;
	padding-bottom: 4.8rem;
}

/***********************************/
/* SECTION GIFT */
/***********************************/

.section-gifts {
	background-color: #fff;
	padding: 0.8rem 0;
}

.gift-container {
	margin: 1.8rem 2.8rem;
}

.gift-title {
	display: inline-block;
	font-size: 2rem;
}

.gift-img {
	display: inline-block;
	width: 24%;
	aspect-ratio: 0.8;
	object-fit: cover;
	border-radius: 15px;
	margin-right: 1%;
	box-shadow: 10px 10px 31px -8px rgba(0, 0, 0, 0.3);
}

.gift-img:last-of-type {
	margin-right: 0;
}

/***********************************/
/* SECTIONS GAME & SOUND */
/***********************************/

.banner {
	width: 100%;
	object-fit: cover;
	margin-bottom: 0.4rem;
}

.banner-description {
	text-align: center;
}

.banner-subtitle {
	display: inline-block;
}

/***********************************/
/* FOOTER */
/***********************************/

.footer {
	text-align: center;
}

.bottom-navigation > li {
	display: inline-block;
}

.bottom-navigation > li > a {
	font-size: 1.6rem;
	font-weight: 700;
	text-decoration: underline;
	display: inline-block;
	padding: 1.6rem;
}

.footer .logo {
	display: inline-block;
	padding: 4.8rem;
	padding-bottom: 5.6rem;
	width: 32rem;
}
