.darkmode {
	--primary-color: #c6d8d9;
	--primary-color-shade: #c6d8d9;
	--primary-color-shade-transparent: #455a5b6c;
	--secondary-color-1: #1e3e62a6;
	--secondary-color-1-shade: #c6d8d976;
	--secondary-color-1-shade-transparent: #1e3e62a6;
	--secondary-color-2: #773d16;
	--secondary-color-2-shade: #ff6600;
	--background-default: #0b192c;
}

.darkmode .dark-mode-icon {
	display: none;
}

.darkmode .light-mode-icon {
	display: block;
}

.darkmode .title {
	color: var(--background-default);
}

.darkmode .light-mode-icon {
	fill: var(--background-default);
}

.darkmode .header {
	border-color: var(--background-default);
}
