/******************************/
/* HEADER NAVBAR */
/******************************/

.header {
	position: sticky;
	top: 0;
	z-index: 10000;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-links {
	display: flex;
}

/******************************/
/* SECTION HERO */
/******************************/

.section-hero {
	display: flex;
	justify-content: flex-start;
	overflow: hidden;
	position: relative;
}

.hero-wrapper {
	display: flex;
	flex-direction: column;
}

.btn--start-reading:link,
.btn--start-reading:hover,
.btn--start-reading:active,
.btn--start-reading:visited {
	align-self: flex-start;
}

/******************************/
/* M ANIMATION */
/******************************/

.m-layout {
	position: absolute;
	right: 0;
	top: 0;
	/* transition: transform 0.3s ease; */
}

/* for debug
.m-layout g[stroke-linecap="butt"] {
	opacity: 1;
} */

/******************************/
/* SECTION TRENDING */
/******************************/

.trending-title-wrapper {
	display: flex;
	align-items: center;
}

.tredings-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/******************************/
/* TRENDING CARD */
/******************************/

.trending-card {
	display: flex;
}

.trending-card-info {
	display: flex;
	flex-direction: column;
}

.trending-card-person {
	display: flex;
	align-items: center;
}

.trending-card-meta {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/******************************/
/* SECTION DISCOVER */
/******************************/

.section-discover {
	display: grid;
	grid-template-columns: 70fr 30fr;
}

/******************************/
/* SEC. DISCOVER > ARTICLES */
/******************************/

.articles-wrapper {
	display: grid;
	grid-template-columns: 1fr;
}

.discover-article {
	display: grid;
	grid-template-columns: 70fr 30fr;
}

.article-info-wrapper {
	display: flex;
	flex-direction: column;
}

.article-info-person {
	display: flex;
	align-items: center;
}

.article-info-description-wrapper {
	display: flex;
	flex-direction: column;
}

.article-info-description {
	/* 2 lines, use ... when text overlap */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article-info-meta {
	display: flex;
	justify-content: flex-start;
}

.article-info-etiquette {
	display: flex;
}

.article-info-bookmark {
	justify-self: flex-end;
}

/******************************/
/* SEC. DISCOVER > DISCOVER */
/******************************/

.discover-labels {
	display: flex;
	flex-wrap: wrap;
}

.discover-footer {
	display: flex;
	flex-wrap: wrap;
}
