/******************************/
/* HEADER NAVBAR */
/******************************/

.header {
	position: sticky;
	top: 0;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-links {
	display: flex;
}

/******************************/
/* SECTION HERO */
/******************************/

.section-hero {
	display: flex;
	justify-content: flex-start;
}

.hero-wrapper {
	display: flex;
	flex-direction: column;
}

.btn--start-reading:link,
.btn--start-reading:hover,
.btn--start-reading:active,
.btn--start-reading:visited {
	align-self: flex-start;
}

/******************************/
/* SECTION TRENDING */
/******************************/

.trending-title-wrapper {
	display: flex;
	align-items: center;
}

.tredings-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/******************************/
/* TRENDING CARD */
/******************************/

.trending-card {
	display: flex;
}

.trending-card-info {
	display: flex;
	flex-direction: column;
}

.trending-card-person {
	display: flex;
	align-items: center;
}

.trending-card-meta {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/******************************/
/* SECTION DISCOVER */
/******************************/

.section-discover {
	display: grid;
	grid-template-columns: 70fr 30fr;
}

/******************************/
/* SEC. DISCOVER > ARTICLES */
/******************************/

.articles-wrapper {
	display: grid;
	grid-template-columns: 1fr;
}

.discover-article {
	display: grid;
	grid-template-columns: 70fr 30fr;
}

.article-info-wrapper {
	display: flex;
	flex-direction: column;
}

.article-info-person {
	display: flex;
	align-items: center;
}

.article-info-description-wrapper {
	display: flex;
	flex-direction: column;
}

.article-info-meta {
	display: flex;
	justify-content: flex-start;
}

.article-info-etiquette {
	display: flex;
}

.article-info-bookmark {
	justify-self: flex-end;
}

/******************************/
/* SEC. DISCOVER > DISCOVER */
/******************************/

.discover-labels {
	display: flex;
	flex-wrap: wrap;
}

.discover-footer {
	display: flex;
	flex-wrap: wrap;
}
