:root {
	/* GENERAL */
	--general-padding-left-right: 5vw;
	/* HEADER NAVIGATION */
	--header-navigation-height: 4.8rem;
	--header-navigation-link-gap: 1rem;
	--header-animation-space: 35%;
	/* HERO SECTION */
	--hero-gap: 2.4rem;
}

/******************************/
/* HEADER NAVBAR */
/******************************/

.header {
	padding: 0 var(--general-padding-left-right);
}

.navbar {
	position: fixed; /* not sticky 'cause it's container is header and not body */

	width: calc(100% - var(--general-padding-left-right) * 2);
	height: var(--header-navigation-height);

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-links {
	display: flex;
	gap: var(--header-navigation-link-gap);
}

.section-hero {
	padding-top: var(--header-navigation-height);
}

/******************************/
/* SECTION HERO */
/******************************/

.section-hero {
	display: flex;
	justify-content: center;
}

.hero-wrapper {
	display: flex;
	flex-direction: column;
	flex-basis: calc(100% - var(--header-animation-space));
	gap: var(--hero-gap);
	/* padding: ? 0; */
}

.placeholder-m-layout {
	flex-basis: var(--header-animation-space);
}

.hero-title {
}

.hero-description {
}
