/****************************/
/* FORM */
/****************************/

.form-container {
	display: grid;
	place-content: center;
}

.main-form {
	width: 90vw;
	padding: var(--padding-small);
	margin-top: var(--padding-large);
	background-color: var(--secondary-color);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--gap-medium);

	label {
		font-size: var(--font-size-label);
		padding-top: var(--padding-xxsmall);
	}

	input {
		width: 100%;
		padding: var(--padding-input);
		font-size: var(--font-size-input);
		border: var(--border-width) solid rgba(0, 0, 0, 0.1);
		border-radius: var(--border-radius);
	}

	textarea {
		width: 100%;
		height: var(--height-textarea);
		padding: var(--padding-textarea);
		font-size: var(--font-size-input);
		border: var(--border-width) solid rgba(0, 0, 0, 0.1);
		border-radius: var(--border-radius);
		font-family: inherit;
	}

	.action-wrapper {
		grid-column: 2;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		gap: var(--gap-medium);

		button {
			padding: var(--padding-button);
			font-size: var(--font-size-input);
			color: var(--main-color);
			border: none;
			border-radius: var(--border-radius);
			cursor: pointer;
			transition: background-color var(--transition-duration) ease-in-out;
			font-weight: var(--font-weight-button);
			letter-spacing: var(--letter-spacing-button);

			&.sweep {
				background-color: var(--button-bg-color);

				&:hover {
					background-color: var(--button-bg-hover-color);
				}

				svg {
					fill: var(--accent-color);
					height: var(--svg-size);
					width: var(--svg-size);
					scale: var(--svg-scale);
				}
			}

			&.add-modify {
				background-color: var(--accent-color-light);

				&:hover {
					background-color: var(--accent-color);
				}
			}

			&.delete {
				background-color: var(--button-bg-color);

				&:hover {
					background-color: var(--button-bg-hover-color);
				}
			}
		}
	}
}

/* 576px */
@media screen and (max-width: 36em) {
	.main-form {
		grid-template-columns: 1fr;

		.action-wrapper {
			grid-column: 1;
		}
	}
}

/* 432px */
@media screen and (max-width: 27em) {
	html {
		font-size: 50%;
	}
}

/* 320px */
@media screen and (max-width: 20em) {
	html {
		font-size: 40%;
	}

	.main-form {
		width: 100vw;
	}
}

/* 272px */
@media screen and (max-width: 17em) {
	html {
		font-size: 30%;
	}
}

/* UNDER 200px THIS LAYOUT BREAKS */
