/****************************/
/* FORM */
/****************************/

.form-container {
	display: grid;
	place-content: center;
}

.main-form {
	width: 90vw;
	padding: 2.4em;
	margin-top: 4.8em;
	background-color: var(--secondary-color);
	border-radius: 0.8em;
	box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.1);
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1.6em;

	label {
		font-size: 1.6rem;
		padding-top: 0.4em;
	}

	input {
		width: 100%;
		min-width: 30em;
		padding: 0.4em 0.8em;
		font-size: 1.6rem;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 0.4em;
	}

	textarea {
		width: 100%;
		height: 10em;
		padding: 0.8em;
		font-size: 1.6rem;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 0.4em;
	}

	.action-wrapper {
		grid-column: 2;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		gap: 1.6em;

		button {
			padding: 0.8em 1.8em;
			font-size: 1.6rem;
			color: var(--main-color);
			border: none;
			border-radius: 0.4em;
			cursor: pointer;
			transition: background-color 0.2s ease-in-out;

			font-weight: 600;
			letter-spacing: 1px;

			&.sweep {
				background-color: #e4e4e4;

				&:hover {
					background-color: #c7c7c7;
				}

				svg {
					fill: var(--accent-color);
					height: 1.2em;
					width: 1.2em;
					scale: 1.2;
				}
			}

			&.add-modify {
				background-color: var(--accent-color-light);

				&:hover {
					background-color: var(--accent-color);
				}
			}

			&.delete {
				background-color: #e4e4e4;

				&:hover {
					background-color: #c7c7c7;
				}
			}
		}
	}
}
