/***********************************/
/* GENERAL */
/***********************************/

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

a:link,
a:hover,
a:active,
a:visited {
	text-decoration: none;
}

body {
	max-width: 50rem;
	margin: auto;
	font-family: "Open Sans", sans-serif;
	font-size: 1.92rem;
	line-height: 1.65;
	color: #393d41;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	line-height: 1.5;
	color: #25a2c3;
}

.section-features,
.section-hero,
.section-testimonial,
.section-how {
	padding-top: 6.2rem;
}

.btn {
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 1.4rem;
	letter-spacing: 0.3px;
	font-weight: 700;
	color: #fff;
	background-color: #f04c2f;

	padding: 1.4rem 3.2rem;
	border-radius: 5px;
}

/***********************************/
/* HEADER */
/***********************************/

.header {
	background-color: #000;
}

.logo {
	display: block;
	width: 35%;
	margin: auto;
	padding: 3.6rem 0;
}

/***********************************/
/* SECTION HERO */
/***********************************/

.section-hero {
	background-image: url("./../images/banner.jpg");
	background-size: cover;
	background-position: 50%;
	padding-bottom: 4rem;
}

.section-hero > * {
	margin-bottom: 2.8rem;
}

.hero-title {
	padding: 0 20%;
	font-size: 3.6rem;
	line-height: 1;
}

.hero-description {
	padding: 0 10%;
}

.btn--start {
	text-transform: uppercase;
	margin-bottom: 0;
}

/***********************************/
/* SECTION FEATURES */
/***********************************/

.section-features {
	padding-bottom: 6.2rem;
}

.section-features > * {
	margin-bottom: 2.4rem;
}

.section-features > *:last-child {
	margin-bottom: 0;
}

.feature-box {
	padding: 0 10%;
}

.feature-heading {
	margin-bottom: 1.4rem;
}

.feature-img {
	display: inline-block;
	width: 70%;
	border-radius: 100%;
}

/***********************************/
/* SECTION TESTIMONIAL */
/***********************************/

.section-testimonial {
	background-color: #e22d0e;
	color: #fff;
	padding-bottom: 2.8rem;
}

.section-testimonial > * {
	padding: 0 10%;
}

.testimonial-title {
	color: inherit;
	font-size: 3.2rem;
	margin-bottom: 2.2rem;
}

.testimonial-text {
	font-style: italic;
	font-size: 1.8rem;
	font-weight: 300;
	margin-bottom: 2.2rem;
}

.testimonial-name {
	letter-spacing: 0.2px;
}

.testimonial-working-position {
	font-size: 1.2rem;
	letter-spacing: 0.2px;
}

/***********************************/
/* SECTION HOW */
/***********************************/

.section-how {
	padding-bottom: 5.6rem;
}

.how-box {
	width: 90%;
	margin: auto;
	margin-bottom: 3.2rem;
	border: 1px solid #dee1e3;
	border-radius: 4px;
	padding-bottom: 4.4rem;
}

.how-box-image {
	display: inline-block;
	width: 100%;
	margin-bottom: 1.8rem;
}

.how-box-title,
.how-box-description {
	padding: 0 8%;
}

.how-box-title {
	margin-bottom: 1.6rem;
}

/***********************************/
/* SECTION FOOTER */
/***********************************/

.footer {
	color: #c8e7f0;
	background-color: #25a2c3;
	padding: 4.8rem 15%;
	padding-bottom: 6.8rem;
}

.footer * {
	color: inherit;
}

.footer-title {
}

.contact-info {
}

.copyright {
}
