/*******************************************/
/* BELOW 336px (Smaller Phones) */
/*******************************************/

@media screen and (max-width: 21em) {
	:root {
		--nav-li-gap: 1.6rem;
	}
}

/*******************************************/
/* ABOVE 576px (Smaller Tablets) */
/*******************************************/

@media screen and (min-width: 36em) {
	.navigation {
		border-radius: 0;
		margin: 0;
	}

	.navigation-links {
		flex-wrap: nowrap;
	}

	.navigation-links > .navigation-link--shop {
		order: initial;
	}

	.prducts-title,
	.news-title {
		align-self: flex-start;
	}

	.products-wrapper {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.product {
		display: inline-flex;
		flex-basis: calc(50% - var(--product-gap) * 1.2);
	}

	.product:last-of-type {
		display: none;
	}
}

/*******************************************/
/* ABOVE 976px (Tablets) */
/*******************************************/

@media screen and (min-width: 61em) {
	body {
		flex-direction: row;
		height: 100vh;
	}

	.header {
		width: 16vw;
	}

	.main {
		width: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.navigation {
		height: 100%;
	}

	.navigation-links {
		flex-direction: column;
	}
}
