/*****************************/
/* GENERAL */
/*****************************/

:root {
	/* COLORS */
	--primary-color: #d60017;
	--primary-color-shade: #f35668;
	--secondary-color: #1f1f1f;
	--secondary-color-light: #252526;
	--secondary-color-lighter: #2c2c2c;
	--secondary-color-lightest: #323232;
	--accent-color: #bfbfbf;
	--accent-color-light: #fff;
	--accent-color-dark: #ababab;
	--action-color: #626262;
	--action-color-dark: #404040;
	--text-color: #ededed;
	--text-accent-color: #aeaeae;
	--logo-color: #eee;
	/* DIMENTIONS */
	--navbar-height: 7.6rem;
	--sidebar-width: 30rem;
	--new-albums-height: 24rem;
	--new-albums-caption-height: 6rem;
	--carousel-arrows-width: 2.6rem;
	/* RADIUS */
	--main-radius: 0.8rem;
	--small-radius: 0.2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	color: var(--text-color);
	overflow-x: hidden;
}

em {
	font-style: normal;
}

ul,
li {
	list-style-type: none;
}

@media screen and (max-width: 22em) {
	html {
		font-size: 50%;
	}
}

/*****************************/
/* NAVBAR */
/*****************************/

.navbar {
	background-color: var(--secondary-color-lighter);
	color: var(--text-accent-color);
	z-index: 999;
	width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 30rem 1fr 30rem 15rem;
}

.navbar .fas {
	&:hover {
		color: var(--accent-color-light);
	}
}

.fa-bars {
	font-size: 2.4rem;
	padding-left: 2.4rem;
	display: none;
}

.player-buttons {
	width: 16rem;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: center;
	gap: 1.6rem;
}

.player-buttons .fas:nth-child(1),
.player-buttons .fas:nth-child(5) {
	transform: translateY(2px);
}

.player-buttons .fas:nth-child(2),
.player-buttons .fas:nth-child(4) {
	font-size: 2.2rem;
}

.player-buttons .fas:nth-child(3) {
	font-size: 2.8rem;
}

.player-bar {
	display: flex;
	align-items: center;
	gap: 1.4rem;
	width: 20rem;
	justify-self: center;
}

.volume-bar {
	height: 5px;
	width: 12rem;
	background-color: var(--action-color);
	border-radius: 4px;
}

.volume {
	position: relative;
	height: 5px;
	width: 50%;
	background-color: var(--text-accent-color);
	border-radius: 4px;
}

.volume::after {
	content: "";
	height: 1.6rem;
	width: 1.6rem;
	background-color: var(--accent-color-light);
	border-radius: 50%;
	position: absolute;
	right: -0.8rem;
	top: -0.7rem;
	border: 1px solid var(--text-accent-color);
}

.apple {
	stroke: var(--text-accent-color);
	fill: var(--text-accent-color);
	height: 3.2rem;
	width: 3rem;
}

.apple-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80%;
	background-color: var(--action-color-dark);
	justify-self: center;
	width: 90%;
}

.login {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: flex-end;
	gap: 1.2rem;
	padding: 1.2rem 0.8rem;
	border-radius: var(--main-radius);
	border: none;
	background-color: var(--primary-color);
	color: var(--accent-color-light);
	font-size: 1.6rem;
	font-weight: 600;
	width: 12rem;
	margin-right: 2rem;
}

@media screen and (max-width: 75em) {
	.navbar {
		grid-template-columns: 1fr 15rem;
	}
	.player-bar,
	.player-buttons {
		display: none;
	}
}

/*****************************/
/* MAIN */
/*****************************/

.main {
	background-color: var(--secondary-color);
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	padding: 4.8rem 2.8rem;

	& > *:not(.carousel) {
		margin-left: var(--carousel-arrows-width);
		padding-left: 0.4rem;
	}
}

.main > h2 {
	font-size: 3.2rem;
	letter-spacing: 0.6px;
	padding-bottom: 2.4rem;
	border-bottom: 1px solid var(--secondary-color-lightest);
	margin-right: var(--carousel-arrows-width);
}

.title-wrapper {
	display: flex;
	align-items: center;
	margin-top: 1.8rem;
	margin-bottom: 1.8rem;
	gap: 1.2rem;
	cursor: pointer;

	.fas {
		transition: all 100ms linear;
		color: var(--accent-color-dark);
		transform: translateY(2px);
	}

	.fas.active {
		rotate: 90deg;
	}
}

h3 {
	font-size: 2.4rem;
	font-weight: 600;
}

.first-caption,
.second-caption {
	display: -webkit-box;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*****************************/
/* MAIN > BANNERS */
/*****************************/

.banner-section {
	display: flex;
	gap: 2.4rem;
	flex-wrap: nowrap;

	.banner-content {
		margin-bottom: 1.2rem;
	}

	img {
		width: 60rem;
		border-radius: var(--main-radius);

		&:hover {
			transform: scale(1.01);
		}
	}

	.new-radio {
		text-transform: uppercase;
		color: var(--text-accent-color);
		font-weight: 800;
		font-size: 1.4rem;
		margin-top: 2.4rem;
	}

	.caption {
		width: 90%;
		height: 4.8rem;
		text-overflow: ellipsis;
		margin-top: 0.8rem;
		font-size: 2rem;
		text-wrap: wrap;
	}
}

/*****************************/
/* MAIN > SECTION */
/*****************************/

.album-section {
	margin-top: 4.8rem;
}

#section-new-albums.album-section {
	margin-top: 1.8rem;
}

.album-section__albums {
	display: grid;
	overflow: hidden;
	grid-template-columns: repeat(
		auto-fill,
		minmax(var(--new-albums-height), 1fr)
	);
	gap: 1.8rem;
	transition: all 300ms ease-in-out;
	height: calc(var(--new-albums-height) + 8rem);
}

.album-section__albums--second-row-visible {
	height: calc((var(--new-albums-height) + 8rem) * 2);
}

.album {
	align-self: center;
	justify-self: center;
	width: var(--new-albums-height);
	object-fit: cover;

	img {
		width: var(--new-albums-height);
		height: var(--new-albums-height);
		border-radius: var(--main-radius);
	}

	figcaption {
		height: var(--new-albums-caption-height);
	}

	.first-caption {
		margin-top: 0.4rem;
		font-size: 1.8rem;
		font-weight: 500;
	}

	.second-caption {
		color: var(--text-accent-color);
		font-weight: 500;
	}

	&:hover {
		transform: scale(1.025);
	}
}

/*****************************/
/* MAIN > EXPLORE */
/*****************************/

.more-to-explore-section {
	margin-top: 4.8rem;
}

.explore-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	margin-top: 2.4rem;
}

.explore-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--primary-color-shade);
	padding: 2.2rem;
	background-color: var(--secondary-color-lighter);
	border-radius: var(--main-radius);

	&:hover {
		transform: scale(1.015);
	}

	.fas {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 69em) {
	.explore-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 44em) {
	.explore-container {
		grid-template-columns: 1fr;
	}
}

/*****************************/
/* FOOTER */
/*****************************/

.footer {
	background-color: var(--secondary-color-lightest);
	color: var(--text-accent-color);
	padding: 3.2rem 5.2rem;
	padding-bottom: 3.6rem;
	display: flex;
	flex-direction: column;
	gap: 1.8rem;

	em,
	.links {
		color: var(--text-color);
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1.2rem;
	}

	li:not(:last-of-type)::after {
		content: "|";
		margin-left: 1.2rem;
		color: var(--action-color);
		white-space: nowrap;
	}

	.language {
		padding-bottom: 1.8rem;
	}
}
