/*****************************/
/* GENERAL */
/*****************************/

/*****************************/
/* SECTION BOARD */
/*****************************/

.board-container {
	display: grid;
	/* grid-template-columns: Javascript */
}

.number {
}

.number--extracted {
	color: red;
}

/*****************************/
/* SECTION CARD */
/*****************************/

.card-container {
	display: grid;
	/* grid-template-columns: Javascript */
}
