@import "./scss/functions";
@import "./scss/variables";

@import "./scss/bootstrap.scss";

.fake-dropdown::after {
	content: ">";
	display: inline-block;
	transform: rotate(90deg);
	color: #777;
}

.fake-dropdown[data-dropdown="true"]::after {
	transform: rotate(0deg);
}
